* {
    font-size: 26px;
    font-family: 'Manrope';
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #2B2B2B;
    
}

footer *{
    color: #898989;
    line-height: 1.38;
}

.footer__logo__bottom {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #898989;
    padding-bottom: 85px;
    padding-top: 73px;
}