.nav {
    padding-top: 33px;
    padding-bottom: 43px;
}
.nav__blocks__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.nav__top__textWrapper {
    display: flex;
}

.nav__top__text {
    margin-left: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.357;
    cursor: pointer;
    transition: all .2s ease-in;
}

.nav__top__text:hover {
    transform: scale(1.05);
}

.nav__top__text:first-child {
    margin-left: 0px;
}

.nav__top__loginWrapper {
    display: flex;
    cursor: pointer;
}

.nav__top__loginText {
    margin-right: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;

    color: #55B74C;
}

.nav__top__loginImg {
    max-width: 20px;
    max-height: 20px;
}

.nav__blocks__bottom {
    display: flex;
    justify-content: space-between;
}

.nav__bottom__left {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 600px;
    margin-right: 49px;
}

.nav__bottom__right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 600px;
    margin-left: 49px;
}

.logo {
    max-width: 175px;
    max-height: 51px;
}

.nav__city__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.388;
    display: flex;
    flex-direction: column;
}

.nav__city__text::before{
    content: "Адресс магазина";
    font-size: 14px;
    line-height: 1.357;
    color: #898989;
    margin-bottom: 3px;
}

.nav__number__wrapper {
    display: flex;
    position: relative;
}

.nav__number__wrapper::before{
    position: absolute;
    top: calc(-50% - 9px);
    left: 0;
    content: "Главный офис";
    font-size: 14px;
    line-height: 1.357;
    color: #898989;
    margin-bottom: 3px;
}

.icon__phone {
    max-width: 20px;
    max-height: 20px;
    margin-right: 6.5px;
}

.nav__number__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.388;

    color: #55B74C;
}

.nav__tools__wrapper *{
    max-width: 27px;
    max-height: 27px;
    margin-left: 20px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.nav__tools__wrapper *:hover{
    transform: scale(1.3);
}

.nav__tools__wrapper *:first-child{
    margin-left: 0px;
}
